<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhuMum-7UdXVgoItEbSdIPeb1M-r4xYWo</string>
	<key>GCM_SENDER_ID</key>
	<string>778188445770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stock.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mystock-260a1</string>
	<key>STORAGE_BUCKET</key>
	<string>mystock-260a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778188445770:ios:7a9699c80198fb24c3eeb3</string>
</dict>
</plist>